.main{
    margin: 15px 0;
    padding: 0 100px;
    text-align: center;
    @include respond(ml){
        padding: 0 20px;
    }
}
/* ======================= CANVAS =======================*/
.canvas{
    height: 400px;
    position: relative;
    width: 100%;
    overflow: auto;
    border-right: none;
    border-bottom: none;
    &__area{
        position: relative;
        width: 8000px;
        height: 8000px;
        background-color: $glass-bg;
        
    }
}

/* width */
.canvas::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
.canvas::-webkit-scrollbar-track {
    background-color: $glass-bg;

}

/* Handle */
.canvas::-webkit-scrollbar-thumb {
    background: #cc2b5e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #753a88, #cc2b5e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #753a88, #cc2b5e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Handle on hover */
.canvas::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 0, 106); 
}

.canvas.is-adding-vertex{
    cursor: cell;
}

.canvas.is-adding-edge .vertex{
    cursor: pointer;
}

.canvas.is-start-SP .vertex{
     cursor: pointer;
}

.canvas.is-start-DFS .vertex{
    cursor: pointer;
}

.canvas.is-start-BFS .vertex{
    cursor: pointer;
}


.canvas.is-choosing{
    cursor: pointer;
}

.canvas.is-removing .vertex{
    cursor: not-allowed;
}

.canvas.is-removing .edge{
    cursor: not-allowed;
}

.canvas.is-default{
    cursor: default;
}

.canvas.is-start-move-vertex .vertex{
    cursor: move;
}

.canvas.is-start-move-graph .vertex{
    cursor: move;
}

.canvas.is-start-move-vertex-area .vertex{
    cursor: move;
}
/* ===================== VERTEX ==================*/
.vertex{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: white;
    color: black;
    border-radius: 50%;
    z-index: 4;
    position: absolute;
    font-family: 'Fredoka One', cursive;
    // box-shadow: 0 5px 5px rgba(87, 87, 87, 0.4);
    transition:  background-color .2s ;
    &:hover{
        background-color: rgb(255, 0, 85);
    }
}

.vertex.is-selecting{
    background-color: orchid;
}

.vertex.is-in-select-to-move{
    background-color: orchid;
}

.vertex.is-in-SP{
    background-color: $edge-other;
}

.vertex.is-in-MST{
    background-color: $edge-other;
}


.vertex.is-in-DFS{
    background-color: $edge-other;
}

.vertex.is-in-CC-0{
    background-color:$cc-0 ;
}
.vertex.is-in-CC-1{
    background-color:$cc-1 ;
}
.vertex.is-in-CC-2{
    background-color:$cc-2 ;
}
.vertex.is-in-CC-3{
    background-color:$cc-3 ;
}
.vertex.is-in-CC-4{
    background-color:$cc-4 ;
}
.vertex.is-in-CC-5{
    background-color:$cc-5 ;
}
.vertex.is-in-CC-6{
    background-color:$cc-6 ;
}
.vertex.is-in-CC-7{
    background-color:$cc-7 ;
}
.vertex.is-in-CC-8{
    background-color:$cc-8 ;
}
.vertex.is-in-CC-9{
    background-color:$cc-9 ;
}

/* ========== EDGE ==============*/

.edge{
    display: block;
    position: absolute;
    height: 1px;
    background-color: white;
    z-index: 2;
    i{
        font-size: 20px;
        color: white;
        transform: translateY(-45%);
    }
    span{
        position: absolute;
        transform: translate(-50%, 5px);
        width: 100%;
        padding: 0 20px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    &:hover{
        z-index: 3;
        background-color: rgb(255, 0, 85);
        i{
            color: rgb(255, 0, 85);
        }
        span{
            color: rgb(255, 0, 85);
        }
    }
}

.edge.is-in-SP{
    background-color:$edge-other;
    i{
        color: $edge-other;
    }
    span{
        color: $edge-other;
    }

}

.edge.is-in-DFS{
    background-color:$edge-other;
    i{
        color: $edge-other;
    }
    span{
        color: $edge-other;
    }
}


.edge.is-in-MST{
    background-color:$edge-other;
    i{
        color: $edge-other;
    }
    span{
        color: $edge-other;
    }
}

.selected-area{
    position: absolute;
    background: $glass-bg;
}