.main{
    margin: 15px 0;
    padding: 0 100px;
    text-align: center;
    @include respond(ml){
        padding: 0 20px;
    }
}
/* ======================= CANVAS =======================*/
.canvas{
    height: 400px;
    position: relative;
    width: 100%;
    overflow: auto;
    border-right: none;
    border-bottom: none;
    &__area{
        position: relative;
        width: 8000px;
        height: 8000px;
        background-color: $glass-bg;
        
    }
}

/* width */
.canvas::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
.canvas::-webkit-scrollbar-track {
    background-color: $glass-bg;

}

/* Handle */
.canvas::-webkit-scrollbar-thumb {
    background: #cc2b5e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #753a88, #cc2b5e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #753a88, #cc2b5e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Handle on hover */
.canvas::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 0, 106); 
}

.canvas.is-adding-vertex{
    cursor: cell;
}

.canvas.is-adding-edge .vertex{
    cursor: pointer;
}

.canvas.is-choosing{
    cursor: pointer;
}

.canvas.is-removing .vertex{
    cursor: not-allowed;
}

.canvas.is-removing .edge{
    cursor: not-allowed;
}

.canvas.is-default{
    cursor: default;
}

/* ===================== VERTEX ==================*/
.vertex{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: white;
    color: black;
    border-radius: 50%;
    z-index: 3;
    position: absolute;
    font-family: 'Fredoka One', cursive;
    // box-shadow: 0 5px 5px rgba(87, 87, 87, 0.4);
    transition: .2s;
    &:hover{
        background-color: pink;
    }
}

.vertex.is-selecting{
    background-color: orchid;
}

/* ========== EDGE ==============*/

.edge{
    display: block;
    position: absolute;
    height: 1px;
    background-color: white;
    z-index: 2;
    i{
        font-size: 20px;
        color: white;
        transform: translateY(-45%);
    }
    span{
        position: absolute;
        transform: translate(-50%, 5px);
        width: 100%;
        padding: 0 20px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}