.error{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    h3{
        margin-top: 20px;
    }
    &__img{
        background: $glass-bg;
        width: 400px;
        margin: 0 auto;
        img{
            width: 100%;
            height: auto;
        }
        @include respond(exml){
            width: 280px;
        }
    }
    button{
        border: 1px solid white;
        padding: 20px;
    }
}