
.btn{
    cursor: pointer;
    border: none;
    outline: none;
    background: none ;
    position: relative;
    overflow: hidden;
}

.btn:after{
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: -100%;
    transform: rotate(45deg);
    transition: .45s;
    background: linear-gradient(90deg, transparent, rgba(255,255,255,.4), transparent);
    width: 100%;
    height: 100%;
}

.btn:hover:after{
    left: 100%;
    top: -100%;
}

@keyframes menu-fade-in{
    0%{
        height: 0;
    }
    100%{
        height: calc(100% - 59px);
    }
}