$glass-bg: rgba(255, 255, 255, 0.151);
$glass-bg-hover: rgba(218, 218, 218, 0.493);
$edge-other: rgb(0, 253, 63);
$cc-0: green;
$cc-1: blue;
$cc-2: red;
$cc-3: cyan;
$cc-4: yellow;
$cc-5: orange;
$cc-6: rgb(10, 255, 10);
$cc-7: rgb(0, 174, 255);
$cc-8: rgb(231, 18, 82);
$cc-9: rgb(255, 115, 0);